/*=======================================
            TRANSITIONS BASIC 
========================================*/

/*=======================================
                CSSTRANSITIONS
========================================*/

/*=======================================
                TRANSITIONS GROUP 
========================================*/
.tgroup .item{
    background: #6f42c1;
    padding: 10px;
    color: white;
    margin-bottom: 5px;
}
